<div id="filterrific_results">


   <div>
    <%= page_entries_info claims %>
  </div>
  <table class="table table-striped">
    <tr>
      <th>Title</th>
      <th>Created At</th>
      <th>Amount</th>
      <th>Status</th>
      <!--th>Update</th>
      <th>Delete</th>
      <th>Attachment</th-->
      <th>View Claim</th> 
      <th> Edit </th> <th> Delete </th> <th>Attachment </th>
   	
   </tr>
    <% total=0 %>
    <% claims.each do |c| %>
      <tr>
       
        <td><%= c.title %></td>
         <td><%= c.created_at.strftime("%d/%m/%Y") %></td>
         <td><%= c.amount %></td>
        <td><%= c.status %></td>

 <td> <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#claim-<%= c.id %>"> View Claim </button>	
	
	<div class="modal fade" id="claim-<%= c.id %>" tabindex="-1" role="dialog" aria-labelledby="claim-<%= c.id %>-label" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title" id="claim-<%= c.id %>-label"> <%= c.title %></h1>
        </div>
        <div class="modal-body">
		<dl class="dl-horizontal">		
		<dt>Date of Expenditure: </dt> 	<dd><%= c.exp_date %> </dd>          
		<dt> Created At:  </dt>		<dd><%= c.created_at %>	      </dd>
		<dt> Summary:  </dt>		<dd><%= c.summary %>	      </dd>
	  	<dt> Amount: </dt> 		<dd>Rs. <%= c.amount %>	      </dd>
	  	<dt> Status: </dt>		<dd><%= c.status %>	      </dd>
		<% if c.file? %>
		</br> <dd> <%= link_to "View Attachment" , c.file_url %> </dd>
		<% end %>
                </dl>
	</div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

	</td>



        <% if c.status=="Unpaid" %>
       <td> <%= button_to 'Update Claim', edit_claim_path(c.id), {class: "btn btn-primary btn-sm",method: :get} %></td>
     <td><%= button_to 'Delete', c,{class: "btn btn-primary btn-sm",method: :delete, data: { confirm: "Are you sure?" } }  %></td>
       <% else %> <td colspan= 2></td>
       <% end %>
       <% if c.file? %>
        <td><%= link_to "View Attachment" , c.file_url %></td>
        <% else %> <td></td> 
       <% end %>
    
      </tr>
       <% total=total+c.amount %> 
    <% end %>
  </table>
   <h3> Total: <%= total %> </h3>
</div>
<div style="font-size: 20px">
<%= will_paginate claims %></div>
</br></br></br></br></br>
