<%= yield %>
<div class="page-header">
    <h1>Manage Users: <small>A list of all users</small></h1>
</div>
<div class="container">

<table class="table">

<tr class="success">

<th> Email Id </th>
<th> Delete </th>
<th> Admin</th>
</tr>

<% @users.each do |u| %>


<% if !u.admin? && u.active? %> 
<tr class="info">
<td> <%= u.email %> </td>
<td><%= button_to 'Deactivate Account', u,{method: :delete, class: "btn btn-primary btn-sm", data: { confirm: "Are you sure?" }}  %></td>
<td><%= button_to 'Make Admin ',make_admin_path(u.id),{ method: :get, class: "btn btn-primary btn-sm", data: { confirm: "Are you sure?" }}  %></td>
</tr>
<% elsif u.admin? %>
<tr class="info">
<td> <%= u.email %> </td>
<td> Cannot Delete </td>
<td> Already Admin</td>
</tr>
<% else %>
<tr class="info">
<td> <%= u.email %> </td>
<td colspan="2"> Account Deactivated </td>
</tr>
<% end %> 

	
<% end %>


</table>
</div>

<br/><br/>
